<header>
    <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link route-link" [routerLink]="[ '/blog' ]" routerLinkActive="route-active">Blog</a>
              <a class="nav-link route-link" [routerLink]="[ '/admin/blogs' ]" routerLinkActive="route-active">Admin</a>
            </div>
          </div>
        </div>
      </nav>
</header>
